<h1>Pages#dashboard</h1>

<h2>Hi <%= @username %></h2>

<% @authors.each do |author| %>
  <h2><%= author["name"] %></h2>

  <% author["books"].each do |book| %>
    <ul>
      <li><%= book["title"] %></li>
    </ul>
  <% end %>

<% end %>
